In [1]:
from pyflink.table import EnvironmentSettings, TableEnvironment, DataTypes, CsvTableSource
import datetime
from pyflink.table.expressions import col
from pyflink.table.window import Over, GroupWindow
from pyflink.table.expressions import col, UNBOUNDED_RANGE, CURRENT_RANGE
from pyflink.table.udf import udf
# create a batch TableEnvironment
env_settings = EnvironmentSettings.in_batch_mode()
table_env = TableEnvironment.create(env_settings)

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/opt/flink-1.15.3/lib/log4j-slf4j-impl-2.17.1.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/opt/hadoop-2.7.7/share/hadoop/common/lib/slf4j-log4j12-1.7.10.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See http://www.slf4j.org/codes.html#multiple_bindings for an explanation.
SLF4J: Actual binding is of type [org.apache.logging.slf4j.Log4jLoggerFactory]

In [2]:
# InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
# 536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/01/2010 8:26,2.55,17850,United Kingdom
column_names = ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 
                'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']

column_types = [DataTypes.STRING(), DataTypes.STRING(), DataTypes.STRING(), DataTypes.DOUBLE(), 
                DataTypes.STRING(), DataTypes.DOUBLE(),DataTypes.STRING(), DataTypes.STRING()]

source = CsvTableSource(
   '/home/training/flink-dev/data/1k-dataset.csv',  
    column_names,
    column_types,
    ignore_first_line=True,
    quote_character='"',
    lenient=True
)

# source is data source -origin data is from
# table is flink api
# sink is target where data goes to after transformation
table_env.register_table_source('invoices', source)

# invoices is a table
# get table from source
invoices = table_env.from_path('invoices')


##############################
print('\nRegistered Tables List')
print(table_env.list_tables())

print('\nFinancial Trxs Schema')
invoices.print_schema()

Registered Tables List
['invoices']

Financial Trxs Schema
(
  `InvoiceNo` STRING,
  `StockCode` STRING,
  `Description` STRING,
  `Quantity` DOUBLE,
  `InvoiceDate` STRING,
  `UnitPrice` DOUBLE,
  `CustomerID` STRING,
  `Country` STRING
)

In [3]:
invoices.fetch(3).execute().print()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.flink.api.java.ClosureCleaner (file:/opt/flink-1.15.3/lib/flink-dist-1.15.3.jar) to field java.lang.String.value
WARNING: Please consider reporting this to the maintainers of org.apache.flink.api.java.ClosureCleaner
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release

+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+
|                      InvoiceNo |                      StockCode |                    Description |                       Quantity |                    InvoiceDate |                      UnitPrice |                     CustomerID |                        Country |
+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+
|                         536393 |                          22180 |                 RETROSPOT LAMP |                            8.0 |               12/01/2010 10:37 |                           9.95 |                          13747 |                 United Kingdom |
|                         536394 |                          21506 |     FANCY FONT BIRTHDAY CARD,  |                           24.0 |               12/01/2010 10:39 |                           0.42 |                          13408 |                 United Kingdom |
|                         536394 |                          22633 |         HAND WARMER UNION JACK |                           96.0 |               12/01/2010 10:39 |                           1.85 |                          13408 |                 United Kingdom |
+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+
3 rows in set

In [4]:
#         .column_by_expression("rowtime", "CAST(f0 AS TIMESTAMP(3))") \

# Flink understand ANSI SQL date format, UTC format

# datetime in string format for may 25 1999
input = '12/01/2010 8:26'
  
# format
format = '%d/%m/%Y %H:%M'
  
# convert from string format to datetime format
dt = datetime.datetime.strptime(input, format)
  
# get the date from the datetime using date() 
# function
print(dt)

new_format = '%Y-%m-%d %H:%M:%S'   # SQL Format, which flink can understand
dt.strftime(new_format)

2010-01-12 08:26:00

'2010-01-12 08:26:00'

In [5]:
# UDF - User Defined Function, python/scala/java
# UDF code is not optimized by flink, python udf shall run on Python VM ie python runtime
def convertDateFormat2(input):
    # format
    format = '%d/%m/%Y %H:%M'
  
    # convert from string format to datetime format
    dt = datetime.datetime.strptime(input, format)
    new_format = '%Y-%m-%d %H:%M:%S' 
    return dt.strftime(new_format)

# creating a python function as UDF, first parameter is date string, return type is date string
# Since function has input(s)/multiple args with data types, and the function return output with datatype
# the middle one, [DataTypes.STRING()] is for input arg(s), input arg is basically a string type
# last one  DataTypes.STRING() is RETURN type from the function , only one return value
convertDateFormat = udf(convertDateFormat2, [DataTypes.STRING()], DataTypes.STRING())

In [6]:
# convert data time string to SQL date time string format as new column CInvoiceDate
# drop Orignal InvoiceDate which is string 
# Cast CInvoiceDate which is SQL date time stirng to TIMESTAMP(3) 3 means precision and 
# create new Column InvoiceDate which TIMESTAMP type
# drop temp col CInvoiceDate
invoices2 = invoices.add_columns(convertDateFormat(col('InvoiceDate')).alias('CInvoiceDate'))\
                    .drop_columns(col('InvoiceDate'))\
                    .add_columns(col("CInvoiceDate").cast(DataTypes.TIMESTAMP(3)).alias("InvoiceDate"))\
                    .drop_columns(col('CInvoiceDate'))\
                    .add_columns( (col("Quantity") * col("UnitPrice")).alias("Amount"))

invoices2.print_schema()

(
  `InvoiceNo` STRING,
  `StockCode` STRING,
  `Description` STRING,
  `Quantity` DOUBLE,
  `UnitPrice` DOUBLE,
  `CustomerID` STRING,
  `Country` STRING,
  `InvoiceDate` TIMESTAMP(3),
  `Amount` DOUBLE
)

In [7]:
table_env.register_table('invoices2', invoices2)

In [8]:
result = table_env.sql_query("SELECT InvoiceNo, Quantity, UnitPrice, Amount from invoices2")
result.fetch(20).execute().print()

+--------------------------------+--------------------------------+--------------------------------+--------------------------------+
|                      InvoiceNo |                       Quantity |                      UnitPrice |                         Amount |
+--------------------------------+--------------------------------+--------------------------------+--------------------------------+
|                         536381 |                            2.0 |                           2.55 |                            5.1 |
|                         536381 |                            1.0 |                           0.85 |                           0.85 |
|                         536381 |                            1.0 |                           0.85 |                           0.85 |
|                         536381 |                            1.0 |                           1.45 |                           1.45 |
|                         536381 |                            1.0 |                           4.95 |                           4.95 |
|                         536381 |                            2.0 |                           2.95 |                            5.9 |
|                         536381 |                            2.0 |                           5.95 |                           11.9 |
|                         536381 |                            2.0 |                           5.95 |                           11.9 |
|                         536381 |                            4.0 |                           1.45 |                            5.8 |
|                         536381 |                            1.0 |                           2.95 |                           2.95 |
|                         536381 |                            1.0 |                           1.95 |                           1.95 |
|                         536381 |                            2.0 |                           1.65 |                            3.3 |
|                         536381 |                            3.0 |                           3.95 |             11.850000000000001 |
|                         536381 |                           36.0 |                           1.06 |             38.160000000000004 |
|                         536381 |                           10.0 |                           6.75 |                           67.5 |
|                        C536379 |                           -1.0 |                           27.5 |                          -27.5 |
|                         536382 |                           12.0 |                           0.85 |                           10.2 |
|                         536382 |                            8.0 |                           3.75 |                           30.0 |
|                         536382 |                           12.0 |                           1.65 |             19.799999999999997 |
|                         536382 |                           10.0 |                           1.95 |                           19.5 |
+--------------------------------+--------------------------------+--------------------------------+--------------------------------+
20 rows in set

In [9]:
results = invoices2.group_by ( col("InvoiceNo") )\
                   .select( col("InvoiceNo"), 
                            col("Quantity").sum.alias("Qty"),
                            col("Amount").sum.alias("TotalAmount"),
                            col("InvoiceNo").count.alias("UniqueItems") )

results.execute().print()

+--------------------------------+--------------------------------+--------------------------------+----------------------+
|                      InvoiceNo |                            Qty |                    TotalAmount |          UniqueItems |
+--------------------------------+--------------------------------+--------------------------------+----------------------+
|                         536368 |                           15.0 |              70.05000000000001 |                    4 |
|                         536370 |                          449.0 |                         855.86 |                   20 |
|                         536380 |                           24.0 |                           34.8 |                    1 |
|                         536500 |                          102.0 |             223.90000000000003 |                   15 |
|                         536403 |                           97.0 |             192.60000000000002 |                    2 |
|                         536404 |                          438.0 |             471.29999999999995 |                   28 |
|                         536382 |                          134.0 |             430.59999999999997 |                   12 |
|                         536396 |                          102.0 |             376.36000000000007 |                   18 |
|                         536397 |                           60.0 |                          279.0 |                    2 |
|                         536437 |                         1004.0 |                         842.12 |                    6 |
|                         536463 |                           12.0 |                           17.4 |                    1 |
|                         536464 |                          160.0 |             277.34999999999997 |                   85 |
|                         536488 |                           72.0 |                         165.89 |                   35 |
|                         536372 |                           12.0 |             22.200000000000003 |                    2 |
|                         536374 |                           32.0 |                          350.4 |                    1 |
|                         536381 |                          198.0 |              449.9799999999999 |                   35 |
|                         536385 |                           53.0 |                         130.85 |                    7 |
|                         536390 |                         1568.0 |                        1825.74 |                   24 |
|                        C536391 |                         -132.0 |            -141.48000000000002 |                    7 |
|                         536393 |                            8.0 |                           79.6 |                    1 |
|                         536395 |                          260.0 |              507.8800000000001 |                   14 |
|                         536402 |                          116.0 |                          357.0 |                    3 |
|                         536425 |                          137.0 |             362.45000000000005 |                   17 |
|                         536407 |                           12.0 |             22.200000000000003 |                    2 |
|                         536398 |                          150.0 |             426.56000000000006 |                   17 |
|                         536399 |                           12.0 |             22.200000000000003 |                    2 |
|                         536400 |                           12.0 |                           17.4 |                    1 |
|                         536384 |                          190.0 |                          489.6 |                   13 |
|                         536366 |                           12.0 |             22.200000000000003 |                    2 |
|                         536373 |                           88.0 |                         259.86 |                   16 |
|                        C536506 |                           -6.0 |                          -25.5 |                    1 |
|                         536520 |                          156.0 |             268.36999999999995 |                   55 |
|                         536415 |                          228.0 |             390.78999999999996 |                   59 |
|                         536394 |                          544.0 |             1024.6800000000003 |                   11 |
|                         536405 |                          128.0 |                          326.4 |                    1 |
|                         536378 |                          454.0 |                         444.98 |                   19 |
|                        C536383 |                           -1.0 |                          -4.65 |                    1 |
|                         536371 |                           80.0 |                          204.0 |                    1 |
|                         536377 |                           12.0 |             22.200000000000003 |                    2 |
|                         536409 |                          173.0 |             243.27999999999997 |                   58 |
|                         536446 |                          329.0 |                         440.89 |                   32 |
|                         536414 |                           56.0 |                            0.0 |                    1 |
|                         536508 |                          216.0 |                         155.52 |                    2 |
|                         536514 |                          118.0 |             295.50000000000006 |                    5 |
|                         536466 |                           18.0 |                           42.9 |                    2 |
|                         536367 |                           83.0 |                         278.73 |                   12 |
|                         536375 |                           88.0 |                         259.86 |                   16 |
|                        C536379 |                           -1.0 |                          -27.5 |                    1 |
|                         536387 |                         1440.0 |                        3193.92 |                    5 |
|                         536388 |                          108.0 |                         226.14 |                   14 |
|                         536401 |                          124.0 |             354.22999999999996 |                   64 |
|                         536416 |                          110.0 |                          225.7 |                    6 |
|                         536406 |                           96.0 |             353.14000000000004 |                   17 |
|                         536408 |                          558.0 |              783.1099999999999 |                   48 |
|                         536412 |                          220.0 |              514.4099999999999 |                   81 |
|                         536423 |                           78.0 |             303.90000000000003 |                    9 |
|                         536386 |                          236.0 |             508.20000000000005 |                    3 |
|                         536392 |                          103.0 |             318.14000000000004 |                   10 |
|                         536365 |                           40.0 |                         139.12 |                    7 |
|                         536376 |                          112.0 |                          328.8 |                    2 |
|                         536460 |                          158.0 |             295.53999999999996 |                   14 |
|                         536389 |                          107.0 |                         358.25 |                   14 |
|                         536369 |                            3.0 |                          17.85 |                    1 |
|                         536420 |                          111.0 |             233.45000000000002 |                   14 |
|                         536477 |                         1070.0 |                        2474.74 |                   14 |
|                         536502 |                           39.0 |                          95.29 |                    5 |
+--------------------------------+--------------------------------+--------------------------------+----------------------+
66 rows in set

In [ ]:
print(results.explain())

In [ ]:
result = table_env.sql_query("""
SELECT InvoiceNo, sum(Quantity)  as Qty, sum(Amount) as TotalAmount, 
        count(InvoiceNo) as UniqueItems
        
FROM invoices2
GROUP BY InvoiceNo
""")

result.fetch(5).execute().print()
result.print_schema()

# source table
table_env.register_table(  "analytics_results_source", result)

In [10]:
print(result.explain())

== Abstract Syntax Tree ==
LogicalProject(InvoiceNo=[$0], Quantity=[$3], UnitPrice=[$5], Amount=[*($3, $5)])
+- LogicalTableScan(table=[[default_catalog, default_database, invoices, source: [CsvTableSource(read fields: InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country)]]])

== Optimized Physical Plan ==
Calc(select=[InvoiceNo, Quantity, UnitPrice, *(Quantity, UnitPrice) AS Amount])
+- LegacyTableSourceScan(table=[[default_catalog, default_database, invoices, source: [CsvTableSource(read fields: InvoiceNo, Quantity, UnitPrice)]]], fields=[InvoiceNo, Quantity, UnitPrice])

== Optimized Execution Plan ==
Calc(select=[InvoiceNo, Quantity, UnitPrice, (Quantity * UnitPrice) AS Amount])
+- LegacyTableSourceScan(table=[[default_catalog, default_database, invoices, source: [CsvTableSource(read fields: InvoiceNo, Quantity, UnitPrice)]]], fields=[InvoiceNo, Quantity, UnitPrice])

In [11]:
# create a sink table that prints the output, later will cover mysql/postgres/kafka
# WE only created table for sinking result, that print on console as we use print connector
table_env.execute_sql("""
CREATE TABLE invoice_temp_sink (
  InvoiceNo STRING,
  Qty DOUBLE,
  TotalAmount DOUBLE,
  UniqueItems  BIGINT NOT NULL
) WITH (
    'connector' = 'print'
)
""")

In [ ]:
print('\nRegistered Tables List')
print(table_env.list_tables())

In [ ]:
# Create Data Flow Graph merging source [csv], operators [invoices2, groupby/sum] into sink table [invoice_temp_sink]
# now take results from analytics_results_source table and write to invoice_temp_sink
# wait should not be used in remote job, just for debugging purpose
table_env.execute_sql("INSERT INTO invoice_temp_sink SELECT * FROM analytics_results_source").wait()
# +I - Insert
# the result is printed below, because we use connector: print, which prices on console/termianl output

In [ ]:
# create a sink table that prints the output, later will cover mysql/postgres/kafka


# blackhole connector doesn't print anything, does nothing with data, but ignore it
table_env.execute_sql("""
CREATE TABLE invoice_temp_sink_blackhole (
  InvoiceNo STRING,
  Qty DOUBLE,
  TotalAmount DOUBLE,
  UniqueItems  BIGINT NOT NULL
) WITH (
    'connector' = 'blackhole'
)
""")

# we have 3 sinks invoice_temp_sink, invoice_temp_sink_mysql, invoice_temp_sink_kafka

In [ ]:
# below statement process data, does analytics, result is pushed into blackhole connector, that sucks the result
# , does not print

table_env.execute_sql("INSERT INTO invoice_temp_sink_blackhole SELECT * FROM analytics_results_source").wait()

In [ ]:
# use statementsets to load and process analytisc once and write results into mulitple destination
# create             statementsets
statement_set = table_env.create_statement_set()

# statement set uisng python using python api

# Emit the result into sink table

statement_set.add_insert("invoice_temp_sink", result) # result is table from analytics query, print console
#statement_set.add_insert("invoice_temp_sink_mysql", result) # result is table from analytics query, print console
statement_set.add_insert("invoice_temp_sink_blackhole", result) # result is table from analytics query, blackhole, doesn't print

# now execute statement set, this load csv, perform analytics, insert data into all 3 sink tables
statement_set.execute().wait()

In [ ]:
print(statement_set.explain())

In [ ]:
# Now statement set using Flink SQL
# we can mix flink sql and table api
# create statemetn set

# source table: analytics_results_source
# sink target tables   invoice_temp_sink, invoice_temp_sink_mysql, invoice_temp_sink_kafka
statement_set = table_env.create_statement_set()

statement_set.add_insert_sql("INSERT INTO invoice_temp_sink SELECT * FROM analytics_results_source")
#statement_set.add_insert_sql("INSERT INTO invoice_temp_sink_mysql SELECT * FROM analytics_results_source")
statement_set.add_insert_sql("INSERT INTO invoice_temp_sink_blackhole SELECT * FROM analytics_results_source")

print(statement_set.explain())
# execute the statement set 
statement_set.execute().wait()